# container volume directories
data/

# dotenv
.env

# NginX docker default.template, default.conf
conf.d/nginx/default.conf
conf.d/nginx/default.template

# dhparam.pem
conf.d/nginx/dhparam.pem

# app
app/node_modules
app/package-lock.json