# ------------------------------------------------------------------------------
# Hide nginx version
# ------------------------------------------------------------------------------
server_tokens off;

# ------------------------------------------------------------------------------
# Enable gzip Compression
# ------------------------------------------------------------------------------
gzip on;

# ------------------------------------------------------------------------------
# Add header
# ------------------------------------------------------------------------------
# XSS Projection
add_header X-XSS-Protection "1; mode=block";

# HSTS
add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";


# ------------------------------------------------------------------------------
# App (http)
# ------------------------------------------------------------------------------
server {
    listen 80;
    server_name ${APP_URL};

    # Certbot acme-challenge
    location /.well-known/acme-challenge/ {
        root /var/www/certbot_webroot;
    }
    # Redirect http to https
    #location / {
    #    return 301 https://$host$request_uri;
    #}
}

# ------------------------------------------------------------------------------
# App (https)
# ------------------------------------------------------------------------------
#server {
#    listen 443 ssl http2;
#    server_name ${APP_URL};

#    ssl_protocols TLSv1.2 TLSv1.3;
#    ssl_prefer_server_ciphers on;
#    ssl_ciphers HIGH:!aNULL:!MD5;

#    ssl_certificate /etc/letsencrypt/live/${CERTBOT_CERT_NAME}/fullchain.pem;
#    ssl_certificate_key /etc/letsencrypt/live/${CERTBOT_CERT_NAME}/privkey.pem;

#    location / {
#        proxy_set_header Host $host;
#        proxy_set_header X-Forwarded-Host $host;
#        proxy_set_header X-Forwarded-Server $host;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        proxy_set_header X-Forwarded-Proto $scheme;
#        proxy_hide_header X-Powered-By;

#        proxy_pass http://app;
#    }
#}

# ------------------------------------------------------------------------------
# phpmyadmin (http)
# ------------------------------------------------------------------------------
server {
    listen 80;
    server_name ${PHPMYADMIN_URL};

    # Certbot acme-challenge
    location /.well-known/acme-challenge/ {
        root /var/www/certbot_webroot;
    }
    # Redirect http to https
    #location / {
    #    return 301 https://$host$request_uri;
    #}
}

# ------------------------------------------------------------------------------
# PHPMYADMIN (https)
# ------------------------------------------------------------------------------
#server {
#    listen 443 ssl http2;
#    server_name ${PHPMYADMIN_URL};

#    ssl_protocols TLSv1.2 TLSv1.3;
#    ssl_prefer_server_ciphers on;
#    ssl_ciphers HIGH:!aNULL:!MD5;

#    ssl_certificate /etc/letsencrypt/live/${CERTBOT_CERT_NAME}/fullchain.pem;
#    ssl_certificate_key /etc/letsencrypt/live/${CERTBOT_CERT_NAME}/privkey.pem;

#    location / {
#        proxy_set_header Host $host;
#        proxy_set_header X-Forwarded-Host $host;
#        proxy_set_header X-Forwarded-Server $host;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        proxy_set_header X-Forwarded-Proto $scheme;
#        proxy_hide_header X-Powered-By;

#        proxy_pass http://phpmyadmin;
#    }
#}
